@model Mersiv.Web.Models.AccountPasswordResetModel

@{
    ViewBag.Title = "KB Account Recover";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("PasswordReset", "Account", FormMethod.Post, new { @class = "form-inline" }))
{
<div class="row">
    <div class="span12">
    <h2>Account Password Reset</h2>
    </div>
</div>
<div class="row">
    <div class="span8">
        @Html.LabelFor(m => m.AccountNameOrEmail)
    </div>
</div>    
<div class="row">
    <div class="span8">
        @Html.TextBoxFor(m => m.AccountNameOrEmail)
        @Html.ValidationMessageFor(m => m.AccountNameOrEmail)
        <input type="submit" value="Reset my Password" />
    </div>
</div>
}