@model Mersiv.Web.Models.AccountPasswordResetModel

@{
    ViewBag.Title = "Mersiv Account Recover";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="span12">
    <h2>Account Password Reset: @Model.AccountNameOrEmail</h2>
    </div>
</div>
<div class="row">
    <div class="span8">
        An email with a new password was sent to your account. You should change your password once you log back in.
    </div>
</div> 