@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
<div class="span7">
    <h2>About</h2>
    <p>The theme for this website is based on <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
    <p>The KB project that powers this website is open source, and available at <a href="https://github.com/NathanLaan/KB">GitHub</a>.</p>
    <p>The entry content formatting is based on <a href="http://stackoverflow.com/editing-help">Stack Overflow style</a> <a href="http://daringfireball.net/projects/markdown/">Markdown</a>.</p>
</div>
</div>