@model Mersiv.Web.Models.DashboardModel

@{
    ViewBag.Title = "Mersiv";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="span12">
        <h2>Dashboard</h2>
    </div>
</div>

<hr />
<div class="row">
    <div class="span12">
        <h2>Links</h2>
    </div>
</div>
@foreach (var entry in @Model.WebLinkList)
{
    @Html.DisplayFor(m => entry)
}
<hr />
